.blog {
  margin-top: 10rem;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.boxContainer .box {
  border: var(--border);
}

.box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box:hover .image img {
  transform: scale(1.2);
}

.box .content {
  padding: 2rem;
}

.content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}

.content .title:hover {
  color: var(--main-color);
}

.content .span {
  color: var(--main-color);
  font-size: 2rem;
  display: block;
  padding-top: 1rem;
}

.content .text {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #FCFCFC;
}