.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url('../assets/images/home-img.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content .title {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content .text {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #FCFCFC;
}